include "gx_head_Guitarix.rc"

style "guitarix_effect_title" {
    font_name = "Roboto Condensed Regular 10"
    fg[NORMAL] = "#ff7700"
}
widget "*rackcontainer*effect_title" style:highest "guitarix_effect_title"

style "guitarix_font" {
    font_name = "Roboto Condensed Regular 8"
    fg[NORMAL] =  "#ff7700"
}

style "guitarix_default" {
    stock["background1"]    = {{"Elias.png"}}
}
class "GtkWidget" style:highest "guitarix_default"

style "guitarix_frame" {
    bg[NORMAL]              = "#000000"
    engine "clearlooks" {
        contrast            = 1.2
        radius              = 4.0
        disable_focus       = TRUE
    }
}
class "*GtkFrame" style:highest "guitarix_frame"
class "*GtkVSeparator" style:highest "guitarix_frame"
class "*GtkHSeparator" style:highest "guitarix_frame"

style "guitarix-paintbox"
{
  stock['gxhead'] = {{"live_wallpaper_orange.png"}}
}
class "*GxPaintBox" style "guitarix-paintbox"
