Source: livemusicapp 
Maintainer: Elias Kesh <elias@kesh.com>
Build-Depends: debhelper (>= 8.0.0)
Version: 1.9.6
Standards-Version: 1.9.6
Section: multimedia 

Package: livemusicapp
Priority: extra  
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}  
Description: An application that can control various multimedia application for use in live performance.
